

body
{
    background-color : #ffffff;
}


#content
{
    background-color : #ffffff;
}


#selector
{
    background-color : #ffffff;
    padding: 10px;
}


#selected_heroes
{
    background-color : #f0f0f0;
    padding: 10px;
}


#selected_cards
{
    background-color : #ffffff;
    padding: 10px;
}

#big_card
{
    position: fixed;
    top: 10px;
    left: 700px;
    width: 300px;
    height: 450px;
}


#menu
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
}


.menu_button
{
    width : 120px;
    height : 40px;
}


.selectable_card
{
    width : 200px;
    height : 300px;
}

.selected_hero
{
    width : 200px;
    height : 300px;
}

.selected_card
{
    width : 100px;
    height : 150px;
}

